body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b0dae8;
    gap: 3vh;
    overflow-x: hidden;
}

footer {
    color: white;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #3CA2C3;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* - Top */

#header-top {
    height: 10vh;
    background-color: #3CA2C3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#burger-menu {
    display: none;
}

#navbar, #search {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
}

.navbar-item {
    padding: 3.7vh;
}

.navbar-item:hover {
    background-color: #3692b1;
}

.navbar-item > a {
    color: white;
    text-decoration: none;
}

#search-button {
    border: none;
    background-color: #2d758d;
    padding: 0;
    height: 24px;
    width: 24px;
    color: white;
    padding: 16px;
}

#search-button:hover {
    background-color: #28677b;
}

#search-button:focus {
    background-color: #1f4f5e;
}

#search-icon {
    position: relative;
    bottom: 12px;
    right: 12px;
}

#search-bar {
    background-color: #3692b1;
    border: none;
    height: 24px;
    padding: 0;
    color: white;
    padding: 4px;
}

#search-bar::placeholder {
    color: white;
}

#search-button:focus, #search-bar:focus {
    outline: 2px solid #2d758d;
}

/* - Image */

#header-image > img {
    width: 100%;
    filter: saturate(1.5);
    height: 30vh;
    object-fit: cover;
    object-position: center 40%;
    vertical-align: middle;
}

#page-title {
    position: absolute;
    text-align: center;
    line-height: 10vh;
    font-size: 5vh;
    top: 19vh;
    width: 80vw;
    margin: 0 auto;
}

/* Séparateur */

.separation {
    height: 3vh;
    width: 100%;
    background-color: #3CA2C3;
}

/* Présentation */

#presentation {
    width: 90vw;
}

#pres-title {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    background-color: #348aa7;
    height: 3vh;
    padding: 1.3%;
    vertical-align: middle;
}

#pres-body {
    background-color: #3697b8;
    color: white;
    padding: 1% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Articles / Blocs */

#articles {
    display: flex;
    flex-direction: row;
    width: 90vw;
    gap: 3vw;
    justify-content: space-between;
}

.article {
    display: flex;
    flex-direction: column;
}

.art-image {
    width: 28vw;
    vertical-align: middle;
}

.art-title {
    vertical-align: middle;
    text-align: center;
    padding: 4%;
    margin: 0;
    background-color: #348aa7;
    color: white;
}

.art-body {
    display: flex;
    flex: 1 1;
    background-color: #3697b8;
    color: white;
    text-align: center;
    padding: 5%;
    margin-top: auto;
    align-self: flex-start;
}

@media screen and (max-width: 768px) {

    #navbar {
        display: none;
    }

    #header-top {
        height: 7vh;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 8px;
    }

    #header-image > img {
        height: 20vh;
    }

    #page-title {
        font-size: 2em;
        top: 12vh;
    }

    #search {
        display: flex;
        flex-direction: row;
        height: 7vh;
        align-items: center;
    }

    #burger-menu {
        display: block;
        color: white;
        font-size: 5.8vh;
    }

    #articles {
        flex-direction: column;
    }

    .art-title, .art-body, #pres-title {
        padding: 2%;
    }

    .art-image {
        width: 90vw;
    }

    #header-image > img {
        object-fit: cover;
        object-position: center;
    }

    #pres-body {
        padding: 0 3%;
    }
}